<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width" />
    <title>SALLY :: BLOG</title>
    <link rel="shortcut icon" href="{{ '/assets/images/common/favicon.jpg' | prepend: site.baseurl }}" type="image/jpg" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/fonts/Lato/style.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/fonts/SFMono/style.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/fonts/VarelaRound/style.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/styles/lib/highlight/9.12.0/solarized-light.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/styles/style.css" />
    <script type="text/javascript" src="{{ site.baseurl }}/assets/scripts/lib/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/assets/scripts/lib/highlight/10.0.2/highlight.pack.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/assets/scripts/lib/mermaid/7.1.2/mermaid.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/assets/scripts/core.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/assets/scripts/main.js"></script>
</head>
