---
layout: default
---

<div id="list">
    {% for post in site.posts %}
        {% if page.dir contains post.category %}
        <a class="item" href="{{ post.url | prepend: site.baseurl }}">
            <time datetime="{{ post.date }}">{{ post.date | date: "%B %d, %Y" }}</time>
            <div class="title">{{ post.title }}</div>
            <div class="line"></div>
            <p>
                {{ post.content | strip_html | truncatewords: 30 }}
            </p>
        </a>
        {% endif %}
    {% endfor %}
</div>

{% include paginate.html %}
